/* CSS Document 

cai file nay dung de dinh nghia element

*/

* {
	font-family: "Verdana";
	color: back;
	/*margin:0px;
	padding:0px;*/
}

a {
	text-decoration: none;
}

body {
	background-color:#F7F7F7;
}

header {
}

footer {
	text-align: center;
}

hr {
	margin: 0px;
	clear: both;
}

nav {
	font-size: 18px;
	color: #00B000;
}

nav ul {
	list-style: none;
	position: relative;
	background-color: #009700;
	padding: 5px;
}
	nav ul li {
		display: inline-table;
		padding-left: 20px;
		padding-right: 20px;
	}
		nav ul li:hover {
			background-color: #0F0;			
		}
			nav ul li:hover > ul {
				display: block;
				background-color: #00C100;
				padding-left: 0px;
			}
	nav ul ul {
		display: none;
		position: absolute;
	}
		nav ul ul li {
			display: block;
		}